{% extends 'base.html.twig' %}
{% trans_default_domain "index" %}

{% block title %}
    {{ 'index.pagename' | trans }}
{% endblock %}

{% block body %}
<div class="row overview">
    <div class="col-md-4">
        {% image 'bundles/app/images/main/hist.jpg' %}<img src="{{ asset_url }}" alt="Example" class="img-circle" />{% endimage %}
        <button class="btn btn-lg btn-primary">{{ 'btn.historisches'|trans }}</button>
        <p>{{ 'text.historisches'|trans }}</p>
    </div>
    <div class="col-md-4">
        {% image 'bundles/app/images/main/anl.jpg' %}<img src="{{ asset_url }}" alt="Example" class="img-circle" />{% endimage %}
        <button class="btn btn-lg btn-primary">{{ 'btn.anleitungen'|trans }}</button>
        <p>{{ 'text.anleitungen'|trans }}</p>
    </div>
    <div class="col-md-4">
        {% image 'bundles/app/images/main/mitei.jpg' %}<img src="{{ asset_url }}" alt="Example" class="img-circle" />{% endimage %}
        <button class="btn btn-lg btn-primary">{{ 'btn.miteinander'|trans }}</button>
        <p>{{ 'text.miteinander'|trans }}</p>
    </div>
</div>  
{% endblock %}
