{% trans_default_domain "footer" %}
<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a href="{{ path('team') }}">{{ 'link.team' | trans }}</a></li>
                <li><a href="{{ path('support') }}">{{ 'link.support' | trans }}</a></li>
                <li><a href="{{ path('agb') }}">{{ 'link.agb' | trans }}</a></li>
                <li><a href="{{ path('privacy') }}">{{ 'link.privacy' | trans }}</a></li>
                <li><a href="{{ path('impressum') }}">{{ 'link.impressum' | trans }}</a></li>
            </ul>
        </div>
        <div class="socialmedia col-md-4 col-md-offset-4">
            <ul>
                <li>
                    <a href="facebook.com" target="_blank">
                        {% image 'bundles/app/images/facebook.png' %}
                            <img src="{{ asset_url }}" alt="Example" />
                        {% endimage %}
                    </a>
                </li>
                <li>
                    <a href="facebook.com" target="_blank">
                        {% image 'bundles/app/images/twitter.png' %}
                            <img src="{{ asset_url }}" alt="Example" />
                        {% endimage %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>